---

---

<footer id="footer" class="footer-wrapper">
	<div class="footer-widgets footer footer-1">
		<div class="row large-columns-4 mb-0">
			<div id="nav_menu-2" class="col pb-0 widget widget_nav_menu">
				<span class="widget-title">Institucional</span>
				<div class="is-divider small"></div>
				<div class="menu-institucional-container">
					<ul id="menu-institucional" class="menu">
						<li class="menu-item">
							<a href="/noticia-legal/">Aviso Legal</a>
						</li>
						<li class="menu-item">
							<a href="/termos-e-servicos/">Termos e Serviços</a>
						</li>
						<li class="menu-item">
							<a href="/informacoes-de-contato/">Informações de contato</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="nav_menu-4" class="col pb-0 widget widget_nav_menu">
				<span class="widget-title">Ajuda</span>
				<div class="is-divider small"></div>
				<div class="menu-ajuda-container">
					<ul id="menu-ajuda" class="menu">
						<li class="menu-item">
							<a href="/politicas-de-envio/">Políticas de Envio</a>
						</li>
						<li class="menu-item">
							<a href="/privacy-policy/">Política de Privacidade</a>
						</li>
						<li class="menu-item">
							<a href="/sample-page/">Políticas de Reembolso</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="nav_menu-3" class="col pb-0 widget widget_nav_menu">
				<span class="widget-title">Código de Rastreio</span>
				<div class="is-divider small"></div>
				<div class="menu-menu-principal-container">
					<ul class="menu">
						<li class="menu-item">
							<a href="https://movixtransportadora.com/index.html" target="_blank" rel="noopener"
								>Rastrear Pedido</a
							>
						</li>
						<li class="menu-item">
							<a href="/como-rastrear/">Ver como rastrear</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="text-3" class="col pb-0 widget widget_text">
				<span class="widget-title">SAC</span>
				<div class="is-divider small"></div>
				<div class="textwidget">
					<p><i class="far fa-clock"></i><strong> Atendimento: Seg. à Sáb. 07 às 22h</strong></p>
					<p><strong><i class="far fa-envelope"></i> Email:</strong></p>
					<p><strong>contato@lojaoficial.com</strong></p>
				</div>
			</div>
		</div>
	</div>

	<div class="absolute-footer light medium-text-center text-center">
		<div class="container clearfix">
			<div class="footer-secondary pull-right">
				<div class="footer-text inline-block small-block">
					<p>PASSOS-MG</p>
					© 2007 Queijaria Oficial | Todos os direitos reservados.<br />
				</div>
			</div>
			<div class="footer-primary pull-left">
				<div class="copyright-footer"></div>
			</div>
		</div>
	</div>

	<a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle" id="top-link" aria-label="Voltar ao topo"><i class="icon-angle-up"></i></a>
</footer>
