---

---

<a class="skip-link screen-reader-text" href="#main">Pular para o conteúdo</a>

<header id="header" class="header">
	<div class="header-wrapper">
		<div id="top-bar" class="header-top hide-for-sticky nav-dark">
			<div class="flex-row container">
				<div class="flex-col hide-for-medium flex-left">
					<ul class="nav nav-left medium-nav-center nav-small nav-divided nav-prompts-overlay">
						<li class="html custom html_topbar_left">
							<div style="text-align: center;">
								<strong class="uppercase"
									>🧀Ofertas imperdíveis! Queijos selecionados com descontos especiais 🧀</strong
								>
							</div>
						</li>
					</ul>
				</div>
				<div class="flex-col hide-for-medium flex-center">
					<ul class="nav nav-center nav-small nav-divided nav-prompts-overlay"></ul>
				</div>
				<div class="flex-col hide-for-medium flex-right">
					<ul class="nav top-bar-nav nav-right nav-small nav-divided nav-prompts-overlay">
						<li class="html header-social-icons ml-0">
							<div class="social-icons follow-icons">
								<a href="#" class="icon plain facebook tooltip" aria-label="Facebook" rel="nofollow"
									><i class="icon-facebook"></i></a
								>
								<a href="#" class="icon plain instagram tooltip" aria-label="Instagram" rel="nofollow"
									><i class="icon-instagram"></i></a
								>
								<a href="#" class="icon plain twitter tooltip" aria-label="Twitter" rel="nofollow"
									><i class="icon-twitter"></i></a
								>
								<a href="#" class="icon plain email tooltip" aria-label="E-mail" rel="nofollow"
									><i class="icon-envelop"></i></a
								>
							</div>
						</li>
					</ul>
				</div>
				<div class="flex-col show-for-medium flex-grow">
					<ul class="nav nav-center nav-small mobile-nav nav-divided nav-prompts-overlay">
						<li class="html custom html_topbar_left">
							<div style="text-align: center;">
								<strong class="uppercase"
									>🧀Ofertas imperdíveis! Queijos selecionados com descontos especiais 🧀</strong
								>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="masthead" class="header-main show-logo-center hide-for-sticky">
			<div class="header-inner flex-row container logo-center medium-logo-center" role="navigation">
				<div id="logo" class="flex-col logo">
					<a href="/" title="Loja Oficial" rel="home">
						<img
							fetchpriority="high"
							width="1020"
							height="1020"
							src="/images/wp-content/uploads/2025/11/freepik__assistant__66891.png"
							class="header_logo header-logo"
							alt="Loja Oficial"
						/>
						<img
							width="1020"
							height="1020"
							src="/images/wp-content/uploads/2025/11/freepik__assistant__66891.png"
							class="header-logo-dark"
							alt="Loja Oficial"
						/>
					</a>
				</div>

				<div class="flex-col show-for-medium flex-left"></div>

				<div class="flex-col hide-for-medium flex-left">
					<ul class="header-nav header-nav-main nav nav-left nav-uppercase">
						<li class="header-search header-search-dropdown has-icon has-dropdown menu-item-has-children">
							<a href="#" aria-label="Pesquisa" class="is-small"><i class="icon-search"></i></a>
							<ul class="nav-dropdown nav-dropdown-default">
								<li class="header-search-form search-form html relative has-icon">
									<div class="header-search-form-wrapper">
										<div class="searchform-wrapper ux-search-box relative form-flat is-normal">
											<form role="search" method="get" class="searchform" action="/">
												<div class="flex-row relative">
													<div class="flex-col flex-grow">
														<label class="screen-reader-text" for="search-field-astro"
															>Pesquisar por:</label
														>
														<input
															type="search"
															id="search-field-astro"
															class="search-field mb-0"
															placeholder="O que você está buscando hoje?"
															name="s"
														/>
													</div>
													<div class="flex-col">
														<button
															type="submit"
															class="ux-search-submit submit-button secondary button icon mb-0"
															aria-label="Enviar"
														>
															<i class="icon-search"></i>
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-design-default">
							<a href="https://movixtransportadora.com/index.html" class="nav-top-link" target="_blank" rel="noopener"
								>Rastrear Pedido</a
							>
						</li>
						<li class="menu-item menu-item-design-default">
							<a href="/como-rastrear/" class="nav-top-link">Ver como rastrear</a>
						</li>
					</ul>
				</div>

				<div class="flex-col hide-for-medium flex-right">
					<ul class="header-nav header-nav-main nav nav-right nav-uppercase">
						<li class="account-item has-icon">
							<a href="/" class="nav-top-link nav-top-not-logged-in is-small" title="Entrar" aria-label="Entrar">
								<i class="icon-user"></i>
							</a>
						</li>
						<li class="header-divider"></li>
						<li class="cart-item has-icon">
							<a
								href="#cart-popup"
								class="header-cart-link is-small off-canvas-toggle nav-top-link js-cart-toggle"
								title="Carrinho"
								data-open="#cart-popup"
								data-class="off-canvas-cart"
								data-pos="right"
							>
								<span class="header-cart-title">
									Carrinho / <span class="cart-price"
										><span class="woocommerce-Price-amount amount"
											><bdi
												><span class="woocommerce-Price-currencySymbol">R$</span>&nbsp;<span
													id="header-cart-price">0,00</span
												></bdi
											></span
										></span
									>
								</span>
								<i class="icon-shopping-basket" id="header-cart-basket" data-icon-label="0"></i>
							</a>
						</li>
					</ul>
				</div>

				<div class="flex-col show-for-medium flex-right">
					<ul class="mobile-nav nav nav-right">
						<li class="cart-item has-icon">
							<a
								href="#cart-popup"
								class="header-cart-link is-small off-canvas-toggle nav-top-link js-cart-toggle"
								title="Carrinho"
								data-open="#cart-popup"
							>
								<i class="icon-shopping-basket" data-icon-label="0"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="container">
				<div class="top-divider full-width"></div>
			</div>
		</div>

		<div class="header-bg-container fill">
			<div class="header-bg-image fill"></div>
			<div class="header-bg-color fill"></div>
		</div>
	</div>
</header>

<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
	<div class="sidebar-menu no-scrollbar">
		<ul class="nav nav-sidebar nav-vertical nav-uppercase" data-tab="1">
			<li class="header-search-form search-form html relative has-icon">
				<div class="header-search-form-wrapper">
					<div class="searchform-wrapper ux-search-box relative form-flat is-normal">
						<form role="search" method="get" class="searchform" action="/">
							<div class="flex-row relative">
								<div class="flex-col flex-grow">
									<label class="screen-reader-text" for="search-field-mobile">Pesquisar por:</label>
									<input
										type="search"
										id="search-field-mobile"
										class="search-field mb-0"
										placeholder="O que você está buscando hoje?"
										name="s"
									/>
								</div>
								<div class="flex-col">
									<button
										type="submit"
										class="ux-search-submit submit-button secondary button icon mb-0"
										aria-label="Enviar"
									>
										<i class="icon-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</li>
			<li class="menu-item">
				<a href="https://movixtransportadora.com/index.html" target="_blank" rel="noopener">Rastrear Pedido</a>
			</li>
			<li class="menu-item">
				<a href="/como-rastrear/">Ver como rastrear</a>
			</li>
			<li class="menu-item cart-item has-icon">
				<a href="#cart-popup" class="header-cart-link js-cart-toggle" title="Carrinho">
					<span class="header-cart-title">Carrinho</span>
					<i class="icon-shopping-basket"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
